/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.main-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: #333;
}

/* Grid de productos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Tarjeta de producto */
.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.product-image {
    width: 10%; /* Cambiado al 50% del ancho del contenedor */
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
}

.product-price {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555;
}

/* Botón de pagar */
.checkout-btn {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #e0a800;
}

.button-checkout-container {
    margin-top: 40px;
    margin-bottom: 40px; /* Agregado para más espacio debajo del botón */
    text-align: center;
}